/// Base font size setting
$base-font-size: 16px !default;

// Palette

$bleu-corp : #007bc3;
$bleu-azur : #009fe3;
$bleu-dark : #093b74;
$blanc : #ffffff;
$gris : #f2f5f8;
$rouge : #cf1655;
$gris-section : #f1f5f8;